<div style="width: 100%; height: 100%">
    <div class="brand">
        <h1 class="title"><%= config.title; %></h1>
        <p class="subtitle"><%= config.subtitle; %></p>
    </div>
    <ul class="menus">
        <% for ( menu in theme.menus ) { %>
            <%
                const menuInfo = theme.menus[menu];
                const [menuPath, icon] = menuInfo.split("||").map(e => e?.trim());
            %>
            <li class="menu-item" data-path="<%- menuPath %>">
                <% if(theme['menus-config']['enable-icon'] && icon) { %>
                    <i class="<%- icon %>"></i>
                <% } %>
                <a href="<%- menuPath %>"><%- menu %></a>
            </li>
        <% } %>
    </ul>
    <div class="author-overview">
        <img class="avatar" src="<%- theme.avatar?.url %>" alt="avatar" />
        <p class="author-name"><%- config.author %></p>
        <% if (theme['site-state']) { %>
            <%
                const posts = site.posts;
                const tags = site.tags;
            %>
            <div class="site-state">
                <div class="state-item">
                    <a class="count" href="/archives/"><%- posts.length %></a>
                    <p class="name">posts</p>
                </div>
                <div class="state-item">
                    <a class="count" href="/tags/"><%- tags.length %></a>
                    <p class="name">tags</p>
                </div>
            </div>
        <% } %>
        <% if(theme['social']) { %>
            <div class="social">
                <% for (item in theme['social']) {
                    const [url, icon] = (theme['social'][item] || '').split('||').map(e => e.trim());
                %>
                <div class="social-item">
                    <i class="icon <%- icon %>"></i>
                    <a class="name" href="<%- url %>"><%- item %></a>
                </div>
                <% } %>
            </div>
        <% } %>
    </div>
</div>
<script>

</script>